body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#login-container, #register-container, #game-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

  /* Estilo específico para el selector */
  #reg-rol {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;

  }

   /*Agregar un icono de flecha para el selector 
  #reg-rol {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjY2NjIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4gPHBhdGggZD0iTTEuMzU0LjI5OEwwIDEuNjUybDggOGw4LThsLTEuMzU0LTEuMzU0TDggNi4zNDZ6Ij48L3BhdGg+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
  }*/

input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 1px;
    background-color: #ccc;
    border: 10px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #999;
}

#boards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}